out/
7B/
13B/
__pycache__/
checkpoint**
minimal-llama**
upload.py
lora-**
*ckpt
wandb
test_data.json
todo.txt
.venv
.vscode
output-lora-*/
training-data/*
!training-data/alpaca_data.json
evaluation/*
!evaluation/evaluation_tasks.json.example
flagged
.idea/